<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/productos.css" />
  </head>

  <body>
    <header><%- include('../partials/header') %></header>
    <main>
      <div class="ofertas">
        <div class="ofertas-titulo">Ofertas</div>
        <div class="productos-en-tienda">
          <% productos.bicicletas.forEach(function(bici) { %>
          <div class="productos-en-tienda-element">
            <img src="<%= bici.image %>" alt="Bicicleta" />
            <p>$<%= bici.price %></p>
            <p class="descripcion"><%= bici.name %></p>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="nuestros-productos">
        <div class="nuestros-productos-titulo">Nuestros Productos</div>
        <div class="productos-en-tienda">
          <% productos.bicicletas.forEach(function(bici) { %>
          <div class="productos-en-tienda-element">
            <img src="<%= bici.image %>" alt="Bicicleta" />
            <p>$<%= bici.price %></p>
            <p class="descripcion"><%= bici.name %></p>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="basado-en-tu-ultima-visita">
        <div class="basado-en-tu-ultima-visita-titulo">
          Basado en tu última visita
        </div>
        <div class="productos-en-tienda">
          <% productos.bicicletas.forEach(function(bici) { %>
          <div class="productos-en-tienda-element">
            <img src="<%= bici.image %>" alt="Bicicleta" />
            <p>$<%= bici.price %></p>
            <p class="descripcion"><%= bici.name %></p>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="accesorios">
        <div class="accesorios-titulo">Accesorios</div>
        <div class="productos-en-tienda">
          <div class="productos-en-tienda-element">
            <img src="/images/accesorios.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Accesorio x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/accesorios.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Accesorio x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/accesorios.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Accesorio x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/accesorios.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Accesorio x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/accesorios.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Accesorio x</p>
          </div>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
