<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/inputs.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="/css/admin-crear.css" />
</head>

<body>

  <a href="javascript:history.back()" class="btn-back">
    <i class="fas fa-arrow-left"></i>
  </a>

  <h1 class="admin-title">Editar Usuario</h1>

  <form class="form-product" method="POST" id="update-form"
    action="/admin-user/<%= usuario.id %>/actualizar?_method=PUT" enctype="multipart/form-data">

    <section class="form-crear">
      <div class="propiedades">
        <input type="text" id="firstName" name="firstName" class="input-form" placeholder="Juan Manuel"
          value="<%= usuario.firstName %>" required/>
        <p class="error"></p>
        <label for="firstName" class="labels">Nombre:</label>
      </div>

      <div class="propiedades">
        <input type="text" id="lastName" name="lastName" class="input-form" placeholder="Fangio"
          value="<%= usuario.lastName %>" required/>
        <p class="error"></p>
        <label for="lastName" class="labels">Apellido:</label>
      </div>

      <div class="propiedades">
        <input type="password" id="password" name="password" class="input-form" placeholder="Contraseña" />
        <p class="error"></p>
        <label for="password" class="labels">Contraseña:</label>
      </div>

      <div class="propiedades">
        <select id="type" name="type" class="input-form">
          <% const types=['Usuario', 'Administrador' ]; %>
          <% for (const type of types) { %>
          <option <%=type===usuario.type ? 'selected' : '' %> value="<%= type %>"><%= type %>
          </option>
          <% } %>
        </select>
        <p class="error"></p>
        <label for="type" class="labels select">Tipo:</label>
      </div>

      <div class="propiedades">
        <input type="file" id="image" name="image" class="input-form" accept="image/*" />
        <p class="error"></p>
        <label for="image" class="labels select">Imagen:</label>
      </div>
    </section>

    <div id="buttons">
      <input type="submit" value="Guardar" class="button-form" id="crear-product" />
    </div>
  </form>

  <script src="/script/admin-users-editar.js"></script>

</body>

</html>